<launch>
  <arg name="camera0_name" default="axis_fixed" />
  <arg name="camera1_name" default="axis_ptz" />
  <arg name="hostname0" default="192.168.0.228:8000" />
  <arg name="hostname1" default="192.168.0.228:8001" />
  <arg name="username" default="" />
  <arg name="password" default="" />
  <arg name="encrypt_password" default="false" />

  <arg name="enable_theora" default="false" />
  <arg name="enable_ptz" default="true" />
  <arg name="enable_ptz_teleop" default="true" />
  <arg name="enable_defog" default="false" />
  <arg name="enable_ir" default="false" />
  <arg name="enable_wiper" default="false" />
  <arg name="width" default="1920" />
  <arg name="height" default="1080" />
  <arg name="camera" default="0" />


<!--  <node pkg="axis_camera" exec="axis" name="axis_fixed" namespace="j100_0803/$(var camera0_name)">
      <param name="hostname" value="$(var hostname0)" />
      <param name="username" value="$(var username)" />
      <param name="password" value="$(var password)" />
      <param name="use_encrypted_password" value="$(var encrypt_password)" />
      <param name="width" value="$(var width)" />
      <param name="height" value="$(var height)" />
      <param name="camera" value="$(var camera)" />
      <param name="frame_id" value="$(var camera0_name)" />
      <param name="wiper" value="$(var enable_wiper)" />
      <param name="defog" value="$(var enable_defog)" />
      <param name="ir" value="$(var enable_ir)" />
    </node>
-->
    <node pkg="axis_camera" exec="axis" name="axis_ptz" namespace="j100_0803/$(var camera1_name)">
      <param name="hostname" value="$(var hostname1)" />
      <param name="username" value="$(var username)" />
      <param name="password" value="$(var password)" />
      <param name="use_encrypted_password" value="$(var encrypt_password)" />
      <param name="width" value="$(var width)" />
      <param name="height" value="$(var height)" />
      <param name="camera" value="$(var camera)" />
      <param name="frame_id" value="$(var camera1_name)" />
      <param name="wiper" value="$(var enable_wiper)" />
      <param name="defog" value="$(var enable_defog)" />
      <param name="ir" value="$(var enable_ir)" />
    </node>
    <node pkg="axis_camera" exec="axis_ptz" name="axis_ptz" if="$(var enable_ptz)" namespace="j100_0803/$(var camera1_name)">
      <param name="hostname" value="$(var hostname1)" />
      <param name="username" value="$(var username)" />
      <param name="password" value="$(var password)" />
      <param name="use_encrypted_password" value="$(var encrypt_password)" />
      <param name="width" value="$(var width)" />
      <param name="height" value="$(var height)" />
      <param name="camera" value="$(var camera)" />
      <param name="frame_id" value="$(var camera1_name)" />
      <param name="wiper" value="$(var enable_wiper)" />
      <param name="defog" value="$(var enable_defog)" />
      <param name="ir" value="$(var enable_ir)" />
    </node>


    <node pkg="axis_camera" exec="publish_axis_tf" name="publish_axis_tf" namespace="j100_0803/$(var camera1_name)">
    </node>
<!--
    <node pkg="image_transport" exec="republish" name="republish"
          args="compressed" if="$(var enable_theora)">
      <remap from="in" to="image_raw" />
      <remap from="out" to="image_raw_out" /> 
    </node>
-->
<!--
    <node pkg="axis_camera" exec="axis_teleop" name="axis_teleop" if="$(var enable_ptz_teleop)" namespace="j100_0803/$(var camera1_name)">
      <param name="use_enable_button" value="true" />
      <param name="enable_button" value="1" />
      <param name="scale_pan_deg" value="25" />
      <param name="scale_tilt_deg" value="25" />
</node>
-->
  <!-- To control the PTZ, issue commands like so:
  rostopic pub /axis/cmd axis_camera/Axis '{ brightness: 5000, pan: 100, tilt: 10, zoom: 0, autofocus: True }'
  NOTE: Don't forget to populate the brightness field, or
        you'll get very dark images.
  -->
</launch>
